/**
 * Normalize
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica, Ariel, sans-serif;
}

/**
 * Common Page Styles
 */
.title-box {
  padding-top: 1rem;
  text-align: center;
}
.title {
  display: inline;
  color: #000080;
}

.chart {
  position: relative;
  padding: 0;
  list-style-type: none;
}

/* WEEKS */
.weeks {
  width: 90%; /*12px per week * 52weeks = 624px */
  height: 50%; /*12px per week * 52weeks = 624px */
}
.weeks > li {
  border: 1px solid black;
  width: 1.282051282%; /* 8px/624px */
  padding-bottom: .961538462%; /* 6px/624px */
  margin: .320512821%; /* 2px/624px */
  float: left;
}


/**
 * Utilities
 */
.group:after {
  /* "group" is another name for clearfix */
  content: "";
  display: table;
  clear: both;
}

/* see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
